<!DOCTYPE html>
<html>
  <head>
    <title>Ludistiq</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body>
  <header>
    <nav>
      <ul>
        <li><%= link_to "Accueil", root_path %></li>
      </ul>
      <ul>
        <% if user_signed_in? %>
          <li>Bienvenue, <%= current_user.name %> !</li>
          <li><%= button_to "Se déconnecter", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "S'inscrire", new_user_registration_path %></li>
          <li><%= link_to "Se connecter", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>
</body>
</html>
